<div class="brand">      
      <div class="container">    
          <a href="http://codesve.com">
            <img alt="codesve" class="sve-logo" src="/images/logo.png" >
            <h1><b>本根</b></h1>
          </a>              
          <h2 class="subtitle">热爱骑行的IT宅男，不爱看书的好学青年.</h2>
          <ul class="social-links">
            <li><a href="https://github.com/codesve" class="ss-icon ss-social-circle">octocat</a></li>            
            <li><a href="https://twitter.com/codesve" class="ss-icon ss-social-circle">twitter</a></li>                         
            <li>&nbsp;</li>            
            <li><a href="/index.xml" class="ss-icon ss-social-circle">rss</a></li>
          </ul>
      </div>      
    </div>
