        <ul id="mainnav">
            <li>
                <a href="/code/">
                    <span class="icon"> <i aria-hidden="true" class="icon-code"></i></span>
                    <span> 代码 </span>
                </a>
            </li>
            <li>
                <a href="/dream/">
                    <span class="icon"> <i aria-hidden="true" class="icon-dream"></i></span>
                    <span> 瞎想 </span>
                </a>
            </li>
            <li>
                <a href="http://blog.codesve.com/sve.html">
                    <span class="icon"> <i aria-hidden="true" class="icon-sve"></i></span>
                    <span> sve </span>
                </a>
            </li>
        </ul>
